html {
    font-size: 30px;
}

#percentages {
    background-color: #e76f51;
    width: 400px;
    height: 800px;
}

#percentages div {
    background-color: #2a9d8f;
    width: 70%;
    height: 20%;
}

#ems h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

#ems h2 {
    font-size: 2em;
    margin-left: 1em;
}

#ems h3 {
    font-size: 1.5em;
}

#ems p {
    font-size: 1em;
}

#ems ul {
    font-size: 1.2em;
}

#ems {
    font-size: 15px;
}

button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: #2a9d8f;
    color: white;
}

#rems h2 {
    font-size: 3rem;
}

#rems h3 {
    font-size: 2rem;
}

#rems ul {
    font-size: 1.2rem;
}

#rems button {
    font-size: 1.5rem;
}