<%- include('partials/head') %>

<%- include('partials/navbar') %>
<h1>ホームページ<%= 'hello world'.toUpperCase() %></h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa, voluptate omnis vel illum reprehenderit rerum
quas animi repudiandae alias doloribus, blanditiis inventore quia laboriosam. Accusantium repellat quo
necessitatibus et recusandae.
Voluptas tenetur quasi officia mollitia fugit doloremque voluptate assumenda doloribus modi maiores dolores eius
nisi sunt quas possimus, aliquam porro eligendi obcaecati fugiat, quae ea rem? Aperiam harum minima tenetur.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis iste molestiae doloremque maiores voluptatem
doloribus odit aliquam, exercitationem repudiandae ipsam at. Cum inventore optio esse nihil harum animi ut
voluptatum!</p>

<%- include('partials/footer') %>