<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>
        Home Page
        <%= 4 + 5 + 1%>
            <%='Hello World'.toUpperCase()%>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi beatae quisquam similique esse sit qui voluptas
        dolorum aperiam? Hic vitae omnis itaque ex reiciendis nam, officia id dolorem ut quo?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur fugit incidunt pariatur esse, corporis
        assumenda explicabo velit error. Doloribus beatae, molestias non porro recusandae inventore nobis doloremque
        tenetur asperiores molestiae.</p>
</body>

</html>