h1 {
    font-size: 6em;
    text-align: center;
}

nav {
    font-size: 1.5em;
}

ul,
li {
    display: inline;
    margin: 0;
    padding: 0;
}

@media (max-width: 1500px) {
    h1 {
        color: black;
    }
}

@media (max-width: 1000px) {
    h1 {
        color: red;
    }
}

@media(max-width: 500px) {
    h1 {
        color: purple;
    }
}