h2 {
    color: papayawhip;
    background-color: #C8F5FF;
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olivedrab;
    background: orange;
}

body {
    background-color: #bc499f;
}